@model IEnumerable<Candyshop.Models.OrderDetail>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)   
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candy.CandyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
