@model ShoppingCartViewModel

<h2>Din kundvagn:</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Antal</th>
            <th>Godis</th>
            <th class="text-right">Pris</th>
            <th class="text-right">Delsumma</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-left"><a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCar" 
                                         asp-route-candyId="@item.Candy.CandyId" alt="">Minska antal</a></td>
                <td class="text-center">@item.Amount</td>
                <td class="text-left">@item.Candy.Name</td>
                <td class="text-right">@item.Candy.Price.ToString("c")</td>
                <td class="text-right">
                    @((item.Amount * item.Candy.Price).ToString("c"))
                </td>
            </tr>
            @if (item.Candy.IsOnSale == true)
            {
                <tr>
                    <td class="text-left"></td>
                <td class="text-center"></td>
                <td class="text-left"> -- Kampanjvara -- </td>
                <td class="text-right">@item.Candy.SalesPrice.ToString("c")</td>
                <td class="text-right">
                    @((item.Candy.SalesPrice - item.Candy.Price)* item.Amount)
                    
                </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" class="text-right">Summa</td>
            <td class="text-right">@Model.ShoppingCartTotal.ToString("c")</td>
        </tr>
        <tr>
            <td colspan="4" class="text-right">Rabatt</td>
            <td class="text-right">@Model.DiscountTotal.ToString("c")</td>
        </tr>
        <tr>
            <td colspan="4" class="text-right">Att betala</td>
            <td class="text-right">@((Model.ShoppingCartTotal - Model.DiscountTotal).ToString("c"))</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="ClearCart">Rensa kundvagn</a> 
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Beställ</a>

</div>